@model IEnumerable<ExamenPrimera.Models.Clientes>
@{
    ViewData["Title"] = "Listado";
}
<h2>Listado de Clientes</h2>
<table class="table table-bordered table-hover">
    <thead>
    <th>ID</th>
    <th>Rut</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Direccion</th>
    <th>Tipo</th>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {

            <tr>
                <td>@Html.DisplayFor(m => p.IDCliente)</td>
                <td>@Html.DisplayFor(m => p.Rut)</td>
                <td>@Html.DisplayFor(m => p.NombreCliente)</td>
                <td>@Html.DisplayFor(m => p.ApellidoCliente)</td>
                <td>@Html.DisplayFor(m => p.Direccion)</td>
                <td>@Html.DisplayFor(m => p.Tipo)</td>
                <td>@Html.ActionLink("Visualizar", "Ficha", new { ID = p.IDCliente })</td>
            </tr>
        }
    </tbody>
</table>