@model IEnumerable<ExamenPrimera.Models.Productos>
@{
    ViewData["Title"] = "Listado";
}
<h2>Listado de Productos</h2>
<table class="table table-bordered table-hover">
    <thead>
    <th>ID</th>
    <th>Nombre</th>
    <th>Codigo de Barras</th>
    <th>Familia</th>
    <th>Precio</th>
    <th>Descuento</th>
    <th>Descripcion</th>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {

            <tr>
                <td>@Html.DisplayFor(m => p.IDProducto)</td>
                <td>@Html.DisplayFor(m => p.NombreProducto)</td>
                <td>@Html.DisplayFor(m => p.CodBarra)</td>
                <td>@Html.DisplayFor(m => p.Familia)</td>
                <td>@Html.DisplayFor(m => p.Precio)</td>
                <td>@Html.DisplayFor(m => p.Descuento)</td>
                <td>@Html.DisplayFor(m => p.Descripcion)</td>
                <td>@Html.ActionLink("Visualizar", "Ficha", new { ID = p.IDProducto })</td>
            </tr>
        }
    </tbody>
</table>